body {
    font-family: "Indie Flower", sans-serif;
}
.row {
    max-width: 100%;
}
.menu {
    color: #000;
    background: #fff;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background: #fff;
    max-width: 100%;
}
.menu a {
    color: #000;
    font-family: "Indie Flower", sans-serif;
}
.landing {
    background-image: url(../assets/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.kathure h2 {
    color: #000;
    font-family: "Indie Flower", sans-serif;
}
.kathure p {
    color: #000;
    font-family: "Indie Flower", sans-serif;
}
.kathure {
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 10%;
    margin-top: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    border-spacing: 5%;
    border: 10px solid #fff;
}
::-webkit-resizer {
    display: none;
}
#about {
    margin: 10%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Indie Flower", sans-serif;
    color: #000;
}
#portfolio {
    background-color: lightgray;
    padding-top: 5%;
    padding-bottom: 5%;
}
.rununu {
    padding-top: 5%;
    padding-bottom: 5%;
}
.footer {
    background-color: lightgray;
}
.footer i {
    color: #fff;
    padding: 5% 0 5% 5%;
}
.footer i:hover {
    color: black;
}
