.row {
    max-width: 1350px;
}

/*
===========================
        footer
===========================
*/

.footer {
    background-color: #171A21;
    margin: 0 0 0 0;
    padding: 5% 5% 5% 5%;
}
.footer i {
    padding: 3% 3% 3% 3%;
    color: #617073;
}
.footer p {
    color: #617073;
    margin-left: 5%;
    padding: 0 3% 3% 3%;
    font-size: 20px;
    font-weight: 300;
}
